{% load static %}
<!--Avaleht-->
<!DOCTYPE html>

<html>

<head>
    <title>Avaleht</title>
    <meta charset="utf-8">

    <link href="{% static './style.css' %}" rel="stylesheet"/>

    <!--Font - Roboto-->
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

</head>

<body>
<header>  
    <!--<img src="media/headphones1.jpg" alt="Logo" class="logo">-->
    <h1 class="pea">Muusika test</h1>
</header>
<h1 class="call">Vali playlist:</h1>
<container class="playlistid">
    {% for playlist in playlistid %}
    <a href="{% url 'App:playlist' forloop.counter %}" class="playlist" style="background-image: url('media/cover{{ forloop.counter }}.png'); background-size: cover;">
        <h2>{{playlist}}</h2>
    </a>
    {% endfor %}
</container>
</body>

</html>
